
.Homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #007E66;
    position: relative;
    
    .divCol1 {
        flex: 0.5;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .divCol2 {
        flex: 0.5;
        .div1Image {
            width: 300px;
            height: 300px;
        }
    }
    .divCol3 {
        display: flex;
        flex-direction: column;
        text-align: center;

        .div1Image {
            width: 300px;
            height: 300px;
        }
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        color:  #007E66;
        font-size: larger;
        span {
            color: #005889;
            font-size: larger;
        }
    }
    svg {
        z-index: -10000;
        position: absolute;
        top: 0;
    }
    .div1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        position: relative;
        .logo {
            width: 150px;
            height: 150px;
            background-image: url(../images/Medical-Logo-Design-Symbol-Icon-on-transparent-background-PNG.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        h1{
            color: #005889;
            font-family: "Kay Pho Du", serif;
            font-weight: bolder;
            font-style: normal;
            font-size: 50px;
        }
    }
    .div2 {
        height: 10%;
        h3 { 
            text-align: center;        
            span {
                color:#005889;
            }
        }
    }
    .div3 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        .leaf {
            width: 100px;
            height: 80px;
            background-image: url(../images/mask.png);
            background-size: contain;
            background-repeat: no-repeat;
            }
        .leafButton {
            height: 35px;
            width: 150px;
            text-align: center;
            border-radius: 5px;
            background-color: white;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border: #1B1134 2px solid;
            background: linear-gradient(to left, white 50%, #007E66 50%) right;
            background-size: 200%;
            transition: .5s ease-out;
            .link {
                height: 40%;
                width: 100%;
                text-decoration: none;
                font-family: 'Times New Roman', Times, serif;
                font-weight: bolder;
                color:  #007E66;
                font-size: larger;
            }
        }
        .leafButton:hover {
            background-position: left;
            border-color: #00B499;
            .link {
                color: #1B1134;
            }
        }
    }

}
@media screen and (min-width: 700px ) {
    .Homepage{
        .div1 {
            .logo {

            }
        }
        .div2 {
            h3 { 
                font-size: x-large;
            }
        }
    }
}